.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.hero-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

input[type="text"] {
  padding: 10px;
  margin: 20px 0;
}

button {
  padding: 10px 20px;
  margin: 20px;
  cursor: pointer;
}
