.modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 1200px;
  text-align: left;
  display: flex;
  flex-direction: column;
  font-size: 14px; /* Diminuir tamanho da fonte */
  position: relative;
}

.close {
  color: #aaa;
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  font-weight: bold;
  background-color: transparent; /* Remover cor de fundo */
  border: none; /* Remover borda */
  cursor: pointer; /* Adicionar cursor de ponteiro */
  padding: 0; /* Remover preenchimento */
  outline: none; /* Remover contorno */
}

.close:hover,
.close:focus {
  color: #000; /* Mudar cor no hover e foco */
  text-decoration: none;
  cursor: pointer;
}

.modal-body {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.left-column {
  flex: 1;
  min-width: 300px;
  max-width: 400px;
}

.hero-image {
  text-align: center;
}

.hero-image img {
  max-width: 80%; /* Diminuir tamanho da imagem */
  height: auto;
}

.hero-details {
  padding: 20px;
}

.right-column {
  flex: 2;
  min-width: 300px;
  max-width: 600px;
  padding: 20px;
}

.right-column h4 {
  margin-top: 20px;
  font-size: 18px; /* Aumentar tamanho da fonte */
  border-bottom: 2px solid #000; /* Adicionar linha inferior */
  padding-bottom: 5px;
}
